# Node.js
node_modules/
npm-debug.log*

# Cypress
cypress/screenshots/
cypress/videos/
cypress/reports/

# Environment variables
.env

# Logs
logs
*.log

# Mac OS
.DS_Store

# IDE files
.vscode/
*.swp
